*,html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

h1 {
    font: normal 1.75rem Secular one;
    color: white;
    letter-spacing: .25rem;
    @media screen and (min-width: 420px) {
        font-size: 2.5rem;
    }
    @media screen and (min-width: 768px) {
        font-size: 3.75rem;
    }
}

h4 {
    font: normal .75rem Lora;
    color: rgba(255, 208, 41, 1);
    letter-spacing: .75rem;
    @media screen and (min-width: 420px) {
        font-size: 1.1rem;
    }
    @media screen and (min-width: 768px) {
        font-size: 1.5rem;
    }
}

.merkury, .venus, .earth, .mars, .jupiter, .saturn, .uran, .neptun {
    border-radius: 50%;
    cursor: pointer;
}

body {
    background-image: linear-gradient(to right, rgba(12, 22, 77, 1), rgba(25, 11, 34, 1));
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
    .sun {
        visibility: visible;
        position: absolute;
        top: 50%;
        left: 0;
        width: 65%;
        height: 120%;
        background-color: rgba(255, 208, 41, 1);
        border-radius: 50%;
        transform: translate(-85%, -50%);
        z-index: 4;
        cursor: pointer;
    }
    .sun2 {
        display: none;
        position: absolute;
        top: 50%;
        left: 0;
        width: 68%;
        height: 130%;
        background-color: rgba(66, 142, 212, 0.5);
        border-radius: 50%;
        transform: translate(-81%, -50%);
        z-index: 3;
        // cursor: pointer;
    }
    .sun3 {
        display: none;
        position: absolute;
        top: 50%;
        left: 0;
        width: 77%;
        height: 145%;
        background-color: rgba(66, 142, 212, 0.2);
        border-radius: 50%;
        transform: translate(-79%, -50%);
        z-index: 2;
        // cursor: pointer;
    }
    header {
        visibility: visible;
        width: 90%;
        position: absolute;
        top: 5%;
        h1, h4 {
            text-align: end;
        }
    }
    main {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        .planets {
            visibility: visible;
            height: 100%;
            width: 90%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: absolute;
            .merkury {
                width: .8%;
                height: 10px;
                background-color: rgba(136, 136, 136, 1);
            }
            .venus {
                width: 1.9%;
                height: 26px;
                background-color: rgba(231, 205, 205, 1);
            }
            .earth {
                width: 2%;
                height: 28px;
                background-color: rgba(66, 142, 212, 1);
            }
            .mars {
                width: 1.1%;
                height: 14px;
                background-color: rgba(239, 95, 95, 1);
            }
            .jupiter {
                width: 14%;
                height: 188px;
                background-color: rgba(226, 148, 104, 1);
            }
            .saturn {
                width: 11%;
                height: 144px;
                background-color: rgba(199, 170, 114, 1);
                cursor: pointer;
                position: relative;
                .saturn-rings {
                    width: 230px;
                    height: 6px;
                    background-color: rgba(255, 255, 255, 0.4);
                    border-radius: 50%;
                    position: absolute;
                    //  Placera ringen i mitten och rotera
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%) rotate(-30deg);
                }
            }
            .uran {
                width: 4.6%;
                height: 66px;
                background-color: rgba(201, 212, 241, 1);
    
            }
            .neptun {
                width: 4.6%;
                height: 66px;
                background-color: rgba(122, 145, 167, 1);
            }
        }
        .modal {
            background: url(asset/universum.jpg) rgba(12, 22, 77, 0.8);
            background-size: cover;
            background-blend-mode: lighten;
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            .modal-content {
                width: 50%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                #close {
                    color: #fff;
                    float: right;
                    font-size: 2.5rem;
                    font-weight: bold;
                    cursor: pointer;
                }
                h6 {
                    padding-top: 1rem;
                    font: normal .6rem Secular One;
                    letter-spacing: .1rem;
                    color: white;
                    @media screen and (min-width: 425px) {
                        font-size: .9rem;
                    }
                    @media screen and (min-width: 768px) {
                        font-size: 1.2rem;
                    }
                }
                p {
                    padding: .5rem 0 1rem 0;
                    font: normal .6rem Roboto Condensed;
                    letter-spacing: .1rem;
                    letter-spacing: 1.5px;
                    @media screen and (min-width: 425px) {
                        font-size: .9rem;
                    }
                    color: white;
                    @media screen and (min-width: 768px) {
                        font-size: 1.2rem;
                    }
                }
                hr {
                    margin: 1rem 0;
                }
                .planetary-data {
                    display: grid;
                    gap: 2rem;
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(2, );
                    grid-template-areas: "a b" "c d";
                    .data-1 {
                        grid-area: a;
                    }
                    .data-2 {
                        grid-area: b;
                    }
                    .data-3 {
                        grid-area: c;
                    }
                    .data-4 {
                        grid-area: d;
                    }
                }
            }
        }
    }
}
